#Home{
    background-color: cyan;
}
#Hobbies{
    background-color: cyan;
}
#Education{
    background-color: cyan;
}
#Contact{
    background-color: cyan;
}
#Timetable{
    background-color: cyan;
}